# **EDA (Exploratory Data Analysis)** de `The Movies Dataset`

## Data Collection

- Cargar los datos
- Revisar los registros

### **Cargar los datos ([`The Movies Dataset`](https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset))**

In [1]:
import zipfile
import os
# descarmaos usando el CLI de kaggle
!kaggle datasets download -d rounakbanik/the-movies-dataset -p data/

# descomprimimos el archivo
with zipfile.ZipFile("./raw/the-movies-dataset.zip", 'r') as zip_ref:
    zip_ref.extractall("./raw")
    
# removemos el archivo zip
os.remove("./raw/the-movies-dataset.zip")

# removemos los datasets miniatura<
os.remove("./raw/links_small.csv")
os.remove("./raw/ratings_small.csv")

Dataset URL: https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset
License(s): CC0-1.0
Downloading the-movies-dataset.zip to data

  0%|          | 0.00/228M [00:00<?, ?B/s]
  0%|          | 1.00M/228M [00:00<02:27, 1.62MB/s]
  1%|          | 2.00M/228M [00:00<01:15, 3.14MB/s]
  2%|▏         | 4.00M/228M [00:00<00:35, 6.59MB/s]
  4%|▎         | 8.00M/228M [00:00<00:16, 13.9MB/s]
  5%|▌         | 12.0M/228M [00:01<00:11, 19.6MB/s]
  7%|▋         | 15.0M/228M [00:01<00:10, 22.1MB/s]
  8%|▊         | 18.0M/228M [00:01<00:09, 22.4MB/s]
  9%|▉         | 21.0M/228M [00:01<00:13, 15.6MB/s]
 11%|█         | 25.0M/228M [00:02<00:17, 12.3MB/s]
 12%|█▏        | 28.0M/228M [00:02<00:15, 13.3MB/s]
 13%|█▎        | 30.0M/228M [00:02<00:14, 13.9MB/s]
 14%|█▍        | 33.0M/228M [00:02<00:14, 13.8MB/s]
 15%|█▌        | 35.0M/228M [00:02<00:13, 14.8MB/s]
 16%|█▌        | 37.0M/228M [00:03<00:15, 13.1MB/s]
 18%|█▊        | 40.0M/228M [00:03<00:12, 16.4MB/s]
 19%|█▉        | 43.0M/228M [00:03<00:10, 19.2MB/s]
 20%|██        | 46.0M/228M [00:03<00:13, 14.4MB/s]
 22%|██▏       | 49.0M/228M [00:03<00:10, 17.3MB/s]
 23%|██▎       | 52.0M/228M [00:03<00:12, 15.2MB/s]
 24%|██▍       | 55.0M/228M [00:04<00:10, 18.0MB/s]
 26%|██▌       | 59.0M/228M [00:04<00:12, 14.4MB/s]
 28%|██▊       | 64.0M/228M [00:04<00:08, 19.9MB/s]
 29%|██▉       | 67.0M/228M [00:04<00:08, 19.7MB/s]
 31%|███       | 71.0M/228M [00:04<00:07, 23.4MB/s]
 32%|███▏      | 74.0M/228M [00:04<00:07, 22.1MB/s]
 34%|███▍      | 78.0M/228M [00:05<00:06, 25.8MB/s]
 36%|███▌      | 82.0M/228M [00:05<00:05, 28.8MB/s]
 38%|███▊      | 86.0M/228M [00:05<00:07, 18.7MB/s]
 39%|███▉      | 89.0M/228M [00:05<00:07, 20.8MB/s]
 40%|████      | 92.0M/228M [00:05<00:07, 20.1MB/s]
 42%|████▏     | 95.0M/228M [00:05<00:06, 22.3MB/s]
 43%|████▎     | 98.0M/228M [00:06<00:07, 17.1MB/s]
 45%|████▍     | 102M/228M [00:06<00:06, 21.2MB/s]
 46%|████▌     | 105M/228M [00:06<00:06, 19.0MB/s]
 48%|████▊     | 109M/228M [00:06<00:05, 22.2MB/s]
 50%|████▉     | 113M/228M [00:06<00:05, 22.0MB/s]
 51%|█████     | 116M/228M [00:07<00:06, 17.7MB/s]
 53%|█████▎    | 120M/228M [00:07<00:05, 20.9MB/s]
 54%|█████▍    | 123M/228M [00:07<00:05, 20.8MB/s]
 55%|█████▌    | 126M/228M [00:07<00:04, 22.7MB/s]
 57%|█████▋    | 130M/228M [00:07<00:05, 20.2MB/s]
 59%|█████▉    | 134M/228M [00:07<00:04, 23.9MB/s]
 60%|██████    | 137M/228M [00:08<00:04, 21.8MB/s]
 62%|██████▏   | 141M/228M [00:08<00:03, 25.3MB/s]
 64%|██████▎   | 145M/228M [00:08<00:03, 24.3MB/s]
 65%|██████▌   | 149M/228M [00:08<00:03, 26.0MB/s]
 68%|██████▊   | 154M/228M [00:08<00:03, 23.5MB/s]
 69%|██████▉   | 158M/228M [00:08<00:02, 26.5MB/s]
 71%|███████   | 162M/228M [00:09<00:03, 21.9MB/s]
 73%|███████▎  | 166M/228M [00:09<00:02, 25.0MB/s]
 75%|███████▍  | 170M/228M [00:09<00:03, 15.8MB/s]
 76%|███████▌  | 173M/228M [00:09<00:03, 17.4MB/s]
 78%|███████▊  | 177M/228M [00:10<00:02, 19.9MB/s]
 79%|███████▉  | 181M/228M [00:10<00:02, 23.4MB/s]
 81%|████████  | 185M/228M [00:10<00:02, 15.5MB/s]
 83%|████████▎ | 188M/228M [00:10<00:02, 17.7MB/s]
 84%|████████▍ | 192M/228M [00:10<00:01, 21.4MB/s]
 86%|████████▌ | 195M/228M [00:10<00:01, 21.5MB/s]
 87%|████████▋ | 198M/228M [00:11<00:01, 23.5MB/s]
 89%|████████▊ | 202M/228M [00:11<00:01, 23.1MB/s]
 92%|█████████▏| 209M/228M [00:11<00:00, 31.5MB/s]
 94%|█████████▎| 213M/228M [00:11<00:00, 27.4MB/s]
 95%|█████████▍| 216M/228M [00:11<00:00, 28.2MB/s]
 96%|█████████▌| 219M/228M [00:12<00:00, 17.0MB/s]
 98%|█████████▊| 223M/228M [00:12<00:00, 20.7MB/s]
 99%|█████████▉| 226M/228M [00:12<00:00, 20.0MB/s]
100%|██████████| 228M/228M [00:12<00:00, 19.2MB/s]

No se usaran los dataset `ratings_small.csv` (100k) y `links_small.csv` (9k), debido a que solo son versiones mas pequeñas de `ratings.csv` (25M) y `links.csv` (45k)

Leemos con pandas cada uno de los datasets

In [1]:
import pandas as pd

df_credits = pd.read_csv("./raw/credits.csv")
df_keywords = pd.read_csv("./raw/keywords.csv")
df_links = pd.read_csv("./raw/links.csv")
df_movies_metada = pd.read_csv("./raw/movies_metadata.csv")
df_ratings = pd.read_csv("./raw/ratings.csv")

C:\Users\pms_l\AppData\Local\Temp\ipykernel_58752\2169233520.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies_metada = pd.read_csv("./raw/movies_metadata.csv")

### **Revisar los registros**

In [2]:
# cambiar ancho de output del notebook
pd.set_option("display.max_columns", None)
pd.set_option("display.expand_frame_repr", False)
pd.set_option("max_colwidth", 80)

#### `credits.csv`

In [3]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [4]:
df_credits.head(5)

                                                                              cast                                                                             crew     id
0  [{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a3684...  [{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', 'gende...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a36847f...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', 'gend...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a9251416c75...  [{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', 'gende...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah' Jackson", 'credit_id': '52fe...  [{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', 'gende...  31357
4  [{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251416c7...  [{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gender': ...  11862

In [5]:
# Observamos que la columna "cast" es un string que contiene una lista de diccionarios
df_credits["cast"][:5]

0    [{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a3684...
1    [{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a36847f...
2    [{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a9251416c75...
3    [{'cast_id': 1, 'character': "Savannah 'Vannah' Jackson", 'credit_id': '52fe...
4    [{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251416c7...
Name: cast, dtype: object

In [6]:
# Observamos que la columna "crew" es un string que contiene una lista de diccionarios
df_credits["crew"][:5]

0    [{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', 'gende...
1    [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', 'gend...
2    [{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', 'gende...
3    [{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', 'gende...
4    [{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gender': ...
Name: crew, dtype: object

#### `keywords.csv`

In [7]:
df_keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [8]:
df_keywords.head(5)

      id                                                                         keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, ...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial r...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'name': 'midlife crisis'}, {'id'...

In [9]:
# Observamos que la columna "keywords" es un string que contiene una lista de diccionarios
df_keywords["keywords"][:5]

0    [{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, ...
1    [{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}...
2    [{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id...
3    [{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial r...
4    [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'name': 'midlife crisis'}, {'id'...
Name: keywords, dtype: object

#### `links.csv`

In [10]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  45843 non-null  int64
 1   imdbId   45843 non-null  int64
 2   tmdbId   45624 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB

In [11]:
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

#### `movies_metadata.csv`

In [12]:
df_movies_metada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [13]:
df_movies_metada.head(2)

   adult                                                            belongs_to_collection    budget                                                                           genres                              homepage    id    imdb_id original_language original_title                                                                         overview popularity                       poster_path                                                             production_companies                                        production_countries release_date      revenue  runtime                                                                 spoken_languages    status                                    tagline      title  video  vote_average  vote_count
0  False  {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lV...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751...  http://toystory.disney.com/toy-story   862  tt0114709                en      Toy Story  Led by Woody, Andy's toys live happily in his room until Andy's birthday bri...  21.946943  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg                                   [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-10-30  373554033.0     81.0                                         [{'iso_639_1': 'en', 'name': 'English'}]  Released                                        NaN  Toy Story  False           7.7      5415.0
1  False                                                                              NaN  65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 1075...                                   NaN  8844  tt0113497                en        Jumanji  When siblings Judy and Peter discover an enchanted board game that opens the...  17.015539  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  [{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 255...  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-12-15  262797249.0    104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'França...  Released  Roll the dice and unleash the excitement!    Jumanji  False           6.9      2413.0

#### `ratings.csv`

In [14]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [15]:
df_ratings.head(5)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [16]:
def see_movies_len():
    print("df_ratings", set(df_ratings["movieId"].values).__len__())
    print("df_movies_metadata", set(df_movies_metada["id"].values).__len__())
    print("df_keywords", set(df_keywords["id"].values).__len__())
    print("df_links", set(df_links["movieId"].values).__len__())
    print("df_credits", set(df_credits["id"].values).__len__())

In [17]:
see_movies_len()

df_ratings 45115
df_movies_metadata 45436
df_keywords 45432
df_links 45843
df_credits 45432

## Data Exploration

- Revisar los tipos de datos
- Revisar los valores nulos
- Revisar los valores duplicados
- Revisar las estadísticas básicas

Creamos la funcion para saber que columnas tienen valores nulos

In [48]:
def find_columns_null(df):
    columns_null = df.columns[df.isnull().any()].tolist()
    return columns_null

#### `credits.csv`

In [20]:
# Revisamos la cantidad de columnas y filas
df_credits.shape

(45476, 3)

In [21]:
# Revisamos los tipos de datos
df_credits.dtypes

cast    object
crew    object
id       int64
dtype: object

In [22]:
# Revisamos los valores unicos
df_credits.nunique()

cast    43019
crew    44669
id      45432
dtype: int64

In [23]:
# Revisamos los valores nulos
df_credits.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [24]:
# Revisamos las datos duplicados
df_credits.duplicated().sum()

37

#### `keywords.csv`

In [25]:
# Revisamos la cantidad de columnas y filas
df_keywords.shape

(46419, 2)

In [26]:
# Revisamos los tipos de datos
df_keywords.dtypes

id           int64
keywords    object
dtype: object

In [27]:
# Revisamos los valores unicos
df_keywords.nunique()

id          45432
keywords    25989
dtype: int64

In [28]:
# Revisamos los valores nulos
df_keywords.isnull().sum()

id          0
keywords    0
dtype: int64

In [29]:
# Revisamos las datos duplicados
df_keywords.duplicated().sum()

987

#### `links.csv`

In [30]:
# Revisamos la cantidad de columnas y filas
df_links.shape

(45843, 3)

In [31]:
# Revisamos los tipos de datos
df_links.dtypes

movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

In [32]:
# Revisamos los valores unicos
df_links.nunique()

movieId    45843
imdbId     45843
tmdbId     45594
dtype: int64

In [33]:
# Revisamos los valores nulos
df_links.isnull().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

In [34]:
# Revisamos las datos duplicados
df_links.duplicated().sum()

0

#### `movies_metadata.csv`

In [35]:
# Revisamos la cantidad de columnas y filas
df_movies_metada.shape

(45466, 24)

In [36]:
# Revisamos los tipos de datos
df_movies_metada.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [37]:
# Revisamos las columnas numericas
df_movies_metada.select_dtypes(include=["int64", "float64"]).describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [38]:
# Revisamos los valores unicos
df_movies_metada.nunique()

adult                        5
belongs_to_collection     1698
budget                    1226
genres                    4069
homepage                  7673
id                       45436
imdb_id                  45417
original_language           92
original_title           43373
overview                 44307
popularity               44176
poster_path              45024
production_companies     22708
production_countries      2393
release_date             17336
revenue                   6863
runtime                    353
spoken_languages          1931
status                       6
tagline                  20283
title                    42277
video                        2
vote_average                92
vote_count                1820
dtype: int64

In [39]:
# Revisamos los valores nulos
df_movies_metada.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [40]:
find_columns_null(df_movies_metada)

['belongs_to_collection',
 'homepage',
 'imdb_id',
 'original_language',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [41]:
# Revisamos las datos duplicados
df_movies_metada.duplicated().sum()

13

#### `ratings.csv`

In [42]:
# Revisamos la cantidad de columnas y filas
df_ratings.shape

(26024289, 4)

In [43]:
# Revisamos los tipos de datos
df_ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [44]:
# Revisamos los valores unicos
df_ratings.nunique()

userId         270896
movieId         45115
rating             10
timestamp    20549435
dtype: int64

In [45]:
# Revisamos los valores nulos
df_ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [46]:
# Revisamos las datos duplicados
df_ratings.duplicated().sum()

0

## Data Preprocessing

- Eliminar columnas innecesarias
- Eliminar registros con valores nulos
- Eliminar registros duplicados
- Convertir los tipos de datos

Creamos una funcion para limpiar los datos

In [18]:
from ast import literal_eval
from typing import Callable

# funcion para obtener los valores de un string
def extract_info(text, obj: str = "name", func: Callable = lambda _: True):
    # Si el texto es un string sin nada que evaluar
    try:
        text = literal_eval(text)
    except:
        return text
    # Si el texto es un diccionario
    if type(text) == dict:
        return text[obj]
    # Si el texto es una lista
    if type(text) == list:
        if len(text) == 0: # Si la lista esta vacia
            return "Others"
        if len(text) == 1: # Si la lista tiene un solo elemento
            for i in text:
                return i[obj]
        else: # Si la lista tiene mas de un elemento
            s = [] # lista para almacenar los valores
            for i in text:
                if func(i):  # si la funcion es verdadera
                    s.append(i[obj]) # agregamos el valor a la lista
            return ", ".join(s) # retornamos la lista como un string

#### `credits.csv`

In [19]:
df_credits.shape

(45476, 3)

In [20]:
df_credits.head(2)

                                                                              cast                                                                             crew    id
0  [{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a3684...  [{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', 'gende...   862
1  [{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a36847f...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', 'gend...  8844

Primero eliminamos los valores duplicados, ya que nulos no existen

In [21]:
df_credits = df_credits.drop_duplicates()
df_credits.shape

(45439, 3)

Obtenemos `character`, `actors`, `director` de las columnas `cast` y `crew` en dict para poder revisar la data

In [22]:
df_credits["characters"] = df_credits["cast"].apply(
    extract_info, obj="character"
)  # personajes
df_credits["actors"] = df_credits["cast"].apply(extract_info)  # actores

# obtenemos el director
df_credits["director"] = df_credits["crew"].apply(
    extract_info, args=("name", lambda x: x["job"] == "Director")
)

# obtenemos los guionistas
df_credits["crew"] = df_credits["crew"].apply(
    extract_info, args=("name", lambda x: x["job"] != "Director")
)

Reorganizamos las columnas

In [23]:
# Removemos las columnas innecesarias
df_credits = df_credits.drop(columns=["cast"])

# Cambiamos el orden de las columnas
df_credits = df_credits[["id", "characters", "actors", "director", "crew"]]

In [24]:
df_credits.head(2)

     id                                                                       characters                                                                           actors       director                                                                             crew
0   862  Woody (voice), Buzz Lightyear (voice), Mr. Potato Head (voice), Slinky Dog (...  Tom Hanks, Tim Allen, Don Rickles, Jim Varney, Wallace Shawn, John Ratzenber...  John Lasseter  Joss Whedon, Andrew Stanton, Joel Cohen, Alec Sokolow, Bonnie Arnold, Ed Cat...
1  8844  Alan Parrish, Samuel Alan Parrish / Van Pelt, Judy Sheperd, Peter Shepherd, ...  Robin Williams, Jonathan Hyde, Kirsten Dunst, Bradley Pierce, Bonnie Hunt, B...   Joe Johnston  Larry J. Franco, Jonathan Hensleigh, James Horner, Robert Dalva, Nancy Foy, ...

In [26]:
# Guardamos el dataset limpio
df_credits.to_csv("./data/credits.csv", index=False)

#### `keywords.csv`

In [27]:
# Revisamos la cantidad de columnas y filas
df_keywords.shape

(46419, 2)

In [28]:
df_keywords.head(2)

     id                                                                         keywords
0   862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, ...
1  8844  [{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}...

Ahora eliminamos los valores duplicados, ya que nulos no existen

In [29]:
df_keywords = df_keywords.drop_duplicates()
df_keywords.shape

(45432, 2)

Obtenemos las `keywords` en dict para poder revisar la data

In [30]:
df_keywords["keywords"] = df_keywords["keywords"].apply(extract_info)

Reorganizamos las columnas

In [31]:
df_keywords.head(2)

     id                                                                         keywords
0   862  jealousy, toy, boy, friendship, friends, rivalry, boy next door, new toy, to...
1  8844  board game, disappearance, based on children's book, new home, recluse, gian...

In [32]:
# Guardamos el dataset limpio
df_keywords.to_csv("./data/keywords.csv", index=False)

#### `links.csv`

In [33]:
df_links.shape

(45843, 3)

In [34]:
df_links.dtypes

movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

Primero convertimos `tmdbId` de float64 a int64

In [35]:
df_links["tmdbId"] = df_links["tmdbId"].astype("Int64")
df_links.dtypes

movieId    int64
imdbId     int64
tmdbId     Int64
dtype: object

Ahora procesaremos los valores nulos, ya que duplicados no existen

In [36]:
df_links["movieId"].duplicated().sum()

np.int64(0)

In [37]:
df_links[df_links["tmdbId"].isnull()]

       movieId   imdbId  tmdbId
140        142    94878    <NA>
598        604   115978    <NA>
708        720   118114    <NA>
709        721   114103    <NA>
718        730   125877    <NA>
...        ...      ...     ...
24673   115254    21733    <NA>
24775   115715  3670792    <NA>
24802   115821  3900116    <NA>
28570   128734  4438688    <NA>
35278   148093  4006044    <NA>

[219 rows x 3 columns]

In [38]:
df_links["tmdbId"] = df_links["tmdbId"].fillna(-1)

In [39]:
df_links.isnull().sum()

movieId    0
imdbId     0
tmdbId     0
dtype: int64

In [40]:
# Guardar el dataset limpio
df_links.to_csv("./data/links.csv", index=False)

#### `movies_metadata.csv`

In [41]:
df_movies_metada.shape

(45466, 24)

In [42]:
df_movies_metada.head(2)

   adult                                                            belongs_to_collection    budget                                                                           genres                              homepage    id    imdb_id original_language original_title                                                                         overview popularity                       poster_path                                                             production_companies                                        production_countries release_date      revenue  runtime                                                                 spoken_languages    status                                    tagline      title  video  vote_average  vote_count
0  False  {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lV...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751...  http://toystory.disney.com/toy-story   862  tt0114709                en      Toy Story  Led by Woody, Andy's toys live happily in his room until Andy's birthday bri...  21.946943  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg                                   [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-10-30  373554033.0     81.0                                         [{'iso_639_1': 'en', 'name': 'English'}]  Released                                        NaN  Toy Story  False           7.7      5415.0
1  False                                                                              NaN  65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 1075...                                   NaN  8844  tt0113497                en        Jumanji  When siblings Judy and Peter discover an enchanted board game that opens the...  17.015539  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  [{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 255...  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-12-15  262797249.0    104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'França...  Released  Roll the dice and unleash the excitement!    Jumanji  False           6.9      2413.0

Antes de nada eliminamos unos datos raro en el datset

In [43]:
df_movies_metada[df_movies_metada["belongs_to_collection"] == "0.065736"]

                     adult belongs_to_collection                            budget                                                                           genres                                                                         homepage          id imdb_id original_language                            original_title  overview popularity   poster_path production_companies production_countries release_date  revenue  runtime spoken_languages status tagline title video  vote_average  vote_count
19730   - Written by Ørnås              0.065736  /ff9qCepilowshEtG2GYWwzt2bs4.jpg  [{'name': 'Carousel Productions', 'id': 11176}, {'name': 'Vision View Entert...  [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'LU', 'name': 'Luxem...  1997-08-20       0             104.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released        NaN  Midnight Man                False                  6.0            1      NaN      NaN              NaN    NaN     NaN   NaN   NaN           NaN         NaN

In [44]:
df_movies_metada[df_movies_metada["belongs_to_collection"] == "2.185485"]

                                                                                 adult belongs_to_collection                            budget                                                                           genres                                  homepage          id imdb_id original_language                            original_title  overview             popularity       poster_path production_companies production_countries release_date  revenue  runtime spoken_languages status tagline title video  vote_average  vote_count
35587   Avalanche Sharks tells the story of a bikini contest that turns into a horr...              2.185485  /zaSf5OG7V8X8gqFvly88zDdRm46.jpg  [{'name': 'Odyssey Media', 'id': 17161}, {'name': 'Pulser Productions', 'id'...  [{'iso_3166_1': 'CA', 'name': 'Canada'}]  2014-01-01       0              82.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released  Beware Of Frost Bites  Avalanche Sharks                False                  4.3           22      NaN      NaN              NaN    NaN     NaN   NaN   NaN           NaN         NaN

In [45]:
df_movies_metada[df_movies_metada["belongs_to_collection"] == "1.931659"]

                                                                                 adult belongs_to_collection                            budget                                                                           genres                                                                         homepage          id imdb_id original_language                        original_title  overview popularity                          poster_path production_companies production_countries release_date  revenue  runtime spoken_languages status tagline title video  vote_average  vote_count
29503   Rune Balot goes to a casino connected to the October corporation to try to ...              1.931659  /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg  [{'name': 'Aniplex', 'id': 2883}, {'name': 'GoHands', 'id': 7759}, {'name': ...  [{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'J...  2012-09-29       0              68.0  [{'iso_639_1': 'ja', 'name': '日本語'}]  Released        NaN  Mardock Scramble: The Third Exhaust                False                  7.0           12      NaN      NaN              NaN    NaN     NaN   NaN   NaN           NaN         NaN

In [46]:
index_corrupted = df_movies_metada[
    df_movies_metada["belongs_to_collection"] == "0.065736"
].index
df_movies_metada = df_movies_metada.drop(index_corrupted)

index_corrupted = df_movies_metada[
    df_movies_metada["belongs_to_collection"] == "2.185485"
].index
df_movies_metada = df_movies_metada.drop(index_corrupted)

index_corrupted = df_movies_metada[
    df_movies_metada["belongs_to_collection"] == "1.931659"
].index
df_movies_metada = df_movies_metada.drop(index_corrupted)

Ahora procesaremos los datos nulos de cada columna (Categorica)

In [49]:
find_columns_null(df_movies_metada)

['belongs_to_collection',
 'homepage',
 'imdb_id',
 'original_language',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [ ]:
# belongs_to_collection
df_movies_metada["belongs_to_collection"].fillna(
    "{'name': 'No'}", inplace=True)
df_movies_metada["belongs_to_collection"] = df_movies_metada[
    "belongs_to_collection"
].apply(extract_info)

In [ ]:
# genres
df_movies_metada["genres"].fillna("No", inplace=True)
df_movies_metada["genres"] = df_movies_metada["genres"].apply(extract_info)

In [52]:
# production_companies
df_movies_metada["production_companies"].fillna("No", inplace=True)
df_movies_metada["production_companies"] = df_movies_metada[
    "production_companies"
].apply(extract_info)

In [ ]:
# spoken_languages
df_movies_metada["spoken_languages"].fillna("No", inplace=True)
df_movies_metada["spoken_languages"] = df_movies_metada["spoken_languages"].apply(extract_info)

In [ ]:
# tag_line
df_movies_metada["tagline"].fillna("No", inplace=True)

In [ ]:
# status
df_movies_metada["status"].fillna("No", inplace=True)

In [ ]:
# original_language
df_movies_metada["original_language"].fillna("No", inplace=True)

In [ ]:
# overview
df_movies_metada["overview"].fillna("No", inplace=True)

In [58]:
find_columns_null(df_movies_metada)

['homepage',
 'imdb_id',
 'popularity',
 'poster_path',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [59]:
df_movies_metada.head(2)

   adult belongs_to_collection    budget                      genres                              homepage    id    imdb_id original_language original_title                                                                         overview popularity                       poster_path                                       production_companies                                        production_countries release_date      revenue  runtime   spoken_languages    status                                    tagline      title  video  vote_average  vote_count
0  False  Toy Story Collection  30000000   Animation, Comedy, Family  http://toystory.disney.com/toy-story   862  tt0114709                en      Toy Story  Led by Woody, Andy's toys live happily in his room until Andy's birthday bri...  21.946943  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg                                    Pixar Animation Studios  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-10-30  373554033.0     81.0            English  Released                                         No  Toy Story  False           7.7      5415.0
1  False                    No  65000000  Adventure, Fantasy, Family                                   NaN  8844  tt0113497                en        Jumanji  When siblings Judy and Peter discover an enchanted board game that opens the...  17.015539  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  TriStar Pictures, Teitler Film, Interscope Communications  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-12-15  262797249.0    104.0  English, Français  Released  Roll the dice and unleash the excitement!    Jumanji  False           6.9      2413.0

Ahora procesaremos los datos nulos de cada columna (Numericas)

In [60]:
find_columns_null(df_movies_metada)

['homepage',
 'imdb_id',
 'popularity',
 'poster_path',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [61]:
df_movies_metada[find_columns_null(df_movies_metada)].dtypes

homepage                 object
imdb_id                  object
popularity               object
poster_path              object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
title                    object
video                    object
vote_average            float64
vote_count              float64
dtype: object

In [ ]:
# popularity
df_movies_metada["popularity"] = df_movies_metada["popularity"].astype(
    "float"
)  # convert to float

df_movies_metada["popularity"].fillna(
    df_movies_metada["popularity"].median(), inplace=True
)  # clean the nulls

In [ ]:
# release_date
df_movies_metada["release_date"] = pd.to_datetime(
    df_movies_metada["release_date"], errors="coerce"
)  # convert to datetime


df_movies_metada["release_date"].fillna(
    df_movies_metada["release_date"].mode()[0], inplace=True
)  # clean nulls

In [ ]:
# revenue
df_movies_metada["revenue"] = df_movies_metada["revenue"].astype(
    "float"
)  # convert to float

df_movies_metada["revenue"].fillna(
    df_movies_metada["revenue"].median(), inplace=True
)  # clean nulls

In [ ]:
# runtime
df_movies_metada["runtime"] = df_movies_metada["runtime"].astype(
    "float"
)  # convert to float

df_movies_metada["runtime"].fillna(
    df_movies_metada["runtime"].mean(), inplace=True
)  # clean nulls

In [ ]:
# vote_average
df_movies_metada["vote_average"].fillna(
    df_movies_metada["vote_average"].mean(), inplace=True
)  # clean nulls

df_movies_metada["vote_average"] = df_movies_metada["vote_average"].astype(
    "float"
)  # convert to float

In [ ]:
# vote_count
df_movies_metada["vote_count"].fillna(
    df_movies_metada["vote_count"].median(), inplace=True
)  # clean nulls
df_movies_metada["vote_count"] = df_movies_metada["vote_count"].astype(
    "int64"
)  # convert to int

In [68]:
find_columns_null(df_movies_metada)

['homepage',
 'imdb_id',
 'poster_path',
 'production_countries',
 'title',
 'video']

Ordenamos las columnas

In [95]:
# # ORdenamos las columnas
# df_movies_metada = df_movies_metada[
#     [
#         "id",
#         "adult",
#         "homepage",
#         "imdb_id",
#         "poster_path",
#         "belongs_to_collection",
#         "budget",
#         "genres",
#         "original_language",
#         "overview",
#         "popularity",
#         "production_companies",
#         "release_date",
#         "revenue",
#         "runtime",
#         "spoken_languages",
#         "status",
#         "tagline",
#         "vote_average",
#         "vote_count",
#     ]
# ]

In [69]:
df_movies_metada.head(1)

   adult belongs_to_collection    budget                     genres                              homepage   id    imdb_id original_language original_title                                                                         overview  popularity                       poster_path     production_companies                                        production_countries release_date      revenue  runtime spoken_languages    status tagline      title  video  vote_average  vote_count
0  False  Toy Story Collection  30000000  Animation, Comedy, Family  http://toystory.disney.com/toy-story  862  tt0114709                en      Toy Story  Led by Woody, Andy's toys live happily in his room until Andy's birthday bri...   21.946943  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  Pixar Animation Studios  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-10-30  373554033.0     81.0          English  Released      No  Toy Story  False           7.7        5415

In [70]:
df_movies_metada["id"] = df_movies_metada["id"].astype("int64")

In [71]:
# guardar el dataset limpio
df_movies_metada.to_csv("./data/movies_metadata.csv", index=False)

#### `ratings.csv`

In [72]:
df_ratings.shape

(26024289, 4)

In [73]:
df_ratings.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

In [74]:
df_ratings.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

#### `data_clean.csv`

In [75]:
see_movies_len()

df_ratings 45115
df_movies_metadata 45433
df_keywords 45432
df_links 45843
df_credits 45432

In [76]:
# Creamos un dataset de keyword con credits
df_key_cred = pd.merge(df_keywords, df_credits, how="inner", on="id")
df_key_cred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45439 entries, 0 to 45438
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          45439 non-null  int64
 1   keywords    45439 non-null  object
 2   characters  45439 non-null  object
 3   actors      45439 non-null  object
 4   director    45439 non-null  object
 5   crew        45439 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.1+ MB

In [77]:
# Ahora creamos un dataset de movie_metada con df_key_cred
df_key_cred_meta = pd.merge(df_key_cred, df_movies_metada, how="inner", on="id")
df_key_cred_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     45476 non-null  int64
 1   keywords               45476 non-null  object
 2   characters             45476 non-null  object
 3   actors                 45476 non-null  object
 4   director               45476 non-null  object
 5   crew                   45476 non-null  object
 6   adult                  45476 non-null  object
 7   belongs_to_collection  45476 non-null  object
 8   budget                 45476 non-null  object
 9   genres                 45476 non-null  object
 10  homepage               7779 non-null   object
 11  imdb_id                45459 non-null  object
 12  original_language      45476 non-null  object
 13  original_title         45476 non-null  object
 14  overview               45476 non-null  object
 15  popularity             45476 non-null  float64
 16  poster_path            45090 non-null  object
 17  production_companies   45476 non-null  object
 18  production_countries   45473 non-null  object
 19  release_date           45476 non-null  datetime64[ns]
 20  revenue                45476 non-null  float64
 21  runtime                45476 non-null  float64
 22  spoken_languages       45476 non-null  object
 23  status                 45476 non-null  object
 24  tagline                45476 non-null  object
 25  title                  45473 non-null  object
 26  video                  45473 non-null  object
 27  vote_average           45476 non-null  float64
 28  vote_count             45476 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(22)
memory usage: 10.1+ MB

In [79]:
# df_key_cred_meta.to_csv("./data_clean/data_clean.csv", index=False)
df_key_cred_meta.to_json("./data/data_clean.json", orient="records")

In [80]:
df_ratings["movieId"].unique().__len__()

45115

In [81]:
# Ahora creamos el nuevo dataset de ratings
set_movies = df_key_cred_meta["id"].copy()
set(set_movies).__len__()

45432

In [82]:
new_ratings = df_ratings.merge(set_movies, how="left", left_on="movieId", right_on="id").dropna()
new_ids = new_ratings["id"].copy()
del new_ratings["id"]
new_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11439709 entries, 0 to 26027425
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 436.4 MB

In [83]:
new_ratings["movieId"].unique().__len__()

7565

In [92]:
# erase column timestamp
new_ratings.drop(columns=["timestamp"], inplace=True)

In [93]:
new_ratings.to_csv("./data/ratings.csv", index=False)

In [86]:
# now filter df_key_cred_meta
new_df_key_cred_meta = df_key_cred_meta.query("id in @new_ids")
new_df_key_cred_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7573 entries, 0 to 45472
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     7573 non-null   int64
 1   keywords               7573 non-null   object
 2   characters             7573 non-null   object
 3   actors                 7573 non-null   object
 4   director               7573 non-null   object
 5   crew                   7573 non-null   object
 6   adult                  7573 non-null   object
 7   belongs_to_collection  7573 non-null   object
 8   budget                 7573 non-null   object
 9   genres                 7573 non-null   object
 10  homepage               1303 non-null   object
 11  imdb_id                7571 non-null   object
 12  original_language      7573 non-null   object
 13  original_title         7573 non-null   object
 14  overview               7573 non-null   object
 15  popularity             7573 non-null   float64
 16  poster_path            7553 non-null   object
 17  production_companies   7573 non-null   object
 18  production_countries   7573 non-null   object
 19  release_date           7573 non-null   datetime64[ns]
 20  revenue                7573 non-null   float64
 21  runtime                7573 non-null   float64
 22  spoken_languages       7573 non-null   object
 23  status                 7573 non-null   object
 24  tagline                7573 non-null   object
 25  title                  7573 non-null   object
 26  video                  7573 non-null   object
 27  vote_average           7573 non-null   float64
 28  vote_count             7573 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(22)
memory usage: 1.7+ MB

In [87]:
#delete duplicateds movies by id
new_df_key_cred_meta = new_df_key_cred_meta.drop_duplicates(subset=["id"])

In [88]:
new_df_key_cred_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7565 entries, 0 to 45472
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     7565 non-null   int64
 1   keywords               7565 non-null   object
 2   characters             7565 non-null   object
 3   actors                 7565 non-null   object
 4   director               7565 non-null   object
 5   crew                   7565 non-null   object
 6   adult                  7565 non-null   object
 7   belongs_to_collection  7565 non-null   object
 8   budget                 7565 non-null   object
 9   genres                 7565 non-null   object
 10  homepage               1303 non-null   object
 11  imdb_id                7563 non-null   object
 12  original_language      7565 non-null   object
 13  original_title         7565 non-null   object
 14  overview               7565 non-null   object
 15  popularity             7565 non-null   float64
 16  poster_path            7545 non-null   object
 17  production_companies   7565 non-null   object
 18  production_countries   7565 non-null   object
 19  release_date           7565 non-null   datetime64[ns]
 20  revenue                7565 non-null   float64
 21  runtime                7565 non-null   float64
 22  spoken_languages       7565 non-null   object
 23  status                 7565 non-null   object
 24  tagline                7565 non-null   object
 25  title                  7565 non-null   object
 26  video                  7565 non-null   object
 27  vote_average           7565 non-null   float64
 28  vote_count             7565 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(22)
memory usage: 1.7+ MB

In [89]:
new_df_key_cred_meta.to_json("./data/data_clean.json", orient="records")